In [1]:
import pandas as pd
df = pd.read_csv("datatest.csv", header = None)

In [2]:
for i in xrange(len(df)):
    if df.iloc[i, 0] == 'Time':
        header = df.iloc[i].tolist()
        row_skip = i + 2
        break

In [3]:
df = pd.read_csv("datatest.csv", names = header, skiprows = row_skip)

In [4]:
df

,Time,IAS,CITY_FROM_R,CITY_TO_R,DATE_R,EGT1,EGT2,EPR_ENG1_ACTUA,EPR_ENG2_ACTUA,FF1,...,LONPC,LATPC,RALTC,ALT_STDC,FQTY_TON,TAT,GW,HEAD_TRUE,DRIFT,ROLL
0,6:06:21,45 45 45 45,,,00/00/00,296,147,NaN,NaN,12288,...,109.4078,18.3072,0 0 0 0,29 29 29 29,0.000,29.00,0,262.27,0,-0.53 -0.53 -0.53 -0.53
1,6:06:22,45 45 45 45,,,00/00/00,768,146,NaN,NaN,0,...,109.4078,18.3072,0 0 0 0,29 29 29 29,0.000,29.00,,262.27,0,-0.53 -0.53 -0.53 -0.53
2,6:06:23,45 45 45 45,,G,00/00/00,296,150,NaN,NaN,0,...,109.4078,18.3072,0 0 0 0,29 29 29 30,0.000,29.00,,262.27,0,-0.53 -0.53 -0.53 -0.53
3,6:06:24,45 45 45 45,,,00/00/00,0,184,NaN,NaN,0,...,109.4078,18.3072,0 0 0 0,30 30 30 30,0.000,29.00,,262.27,0,-0.53 -0.53 -0.53 -0.53
4,6:06:25,45 45 45 45,,,00/00/00,296,217,NaN,NaN,12288,...,109.4078,18.3072,0 0 0 0,30 30 30 31,0.000,29.00,0,262.27,0,-0.53 -0.53 -0.53 -0.53
5,6:06:26,45 45 45 45,,,00/00/00,768,249,NaN,NaN,0,...,109.4078,18.3072,0 0 0 0,30 30 30 30,0.000,29.00,,262.27,0,-0.53 -0.53 -0.53 -0.53
6,6:06:27,45 45 45 45,,ZG,00/00/00,296,279,NaN,NaN,0,...,109.4078,18.3072,0 0 0 0,30 30 30 30,0.000,29.00,,262.27,0,-0.53 -0.53 -0.53 -0.53
7,6:06:28,45 45 45 45,,,00/00/00,0,306,NaN,NaN,0,...,109.4078,18.3072,0 0 0 0,29 30 30 30,0.000,29.00,,262.27,0,-0.53 -0.53 -0.53 -0.53
8,6:06:29,45 45 45 45,,,00/00/00,296,332,NaN,NaN,12288,...,109.4078,18.3072,0 0 0 0,30 30 30 30,0.000,29.00,0,262.27,0,-0.53 -0.53 -0.53 -0.53
9,6:06:30,45 45 45 45,,,00/00/00,768,357,NaN,NaN,0,...,109.4078,18.3072,0 0 0 0,29 30 30 30,0.000,29.00,,262.27,0,-0.53 -0.53 -0.53 -0.53
10,6:06:31,45 45 45 45,,ZG,00/00/00,296,379,NaN,NaN,0,...,109.4078,18.3072,0 0 0 0,30 30 30 30,0.000,29.00,,262.27,0,-0.53 -0.53 -0.53 -0.53
11,6:06:32,45 45 45 45,,,00/00/00,0,400,NaN,NaN,0,...,109.4078,18.3072,0 0 0 0,30 30 30 30,0.000,29.25,,262.27,0,-0.53 -0.53 -0.53 -0.53
12,6:06:33,45 45 45 45,,,00/00/00,296,420,NaN,NaN,12288,...,109.4078,18.3072,0 0 0 0,29 29 30 30,0.000,29.25,0,262.27,0,-0.53 -0.53 -0.53 -0.53
13,6:06:34,45 45 45 45,,,00/00/00,768,438,NaN,NaN,0,...,109.4078,18.3072,0 0 0 0,30 30 30 30,0.000,29.25,,262.27,0,-0.53 -0.53 -0.53 -0.53
14,6:06:35,45 45 45 45,,ZG,00/00/00,296,455,NaN,NaN,0,...,109.4078,18.3072,0 0 0 0,30 30 30 30,0.000,29.25,,262.27,0,-0.53 -0.53 -0.53 -0.53
15,6:06:36,45 45 45 45,,,00/00/00,0,471,NaN,NaN,0,...,109.4078,18.3072,0 0 0 0,29 30 29 30,0.000,29.25,,262.27,0,-0.53 -0.53 -0.53 -0.53
16,6:06:37,45 45 45 45,,,00/00/00,296,484,NaN,NaN,12288,...,109.4078,18.3072,0 0 0 0,30 30 30 30,3.846,29.00,0,262.27,0,-0.53 -0.53 -0.53 -0.53
17,6:06:38,45 45 45 45,,,00/00/00,768,496,NaN,NaN,0,...,109.4078,18.3072,0 0 0 0,30 30 30 31,3.846,29.00,,262.27,0,-0.53 -0.53 -0.53 -0.53
18,6:06:39,45 45 45 45,,ZG,00/00/00,296,506,NaN,NaN,0,...,109.4078,18.3072,0 0 0 0,30 31 30 30,3.846,29.00,,262.27,0,-0.53 -0.53 -0.53 -0.53
19,6:06:40,45 45 45 45,,,00/00/00,0,517,NaN,NaN,0,...,109.4078,18.3072,0 0 0 0,30 30 30 30,3.846,29.00,,262.27,0,-0.53 -0.53 -0.53 -0.53
20,6:06:41,45 45 45 45,,,00/00/00,296,539,NaN,NaN,12288,...,109.4078,18.3072,0 0 0 0,30 30 30 30,3.951,29.25,0,262.27,0,-0.53 -0.53 -0.53 -0.53
21,6:06:42,45 45 45 45,,,00/00/00,768,546,NaN,NaN,0,...,109.4078,18.3072,0 0 0 0,30 30 30 30,3.951,29.00,,262.27,0,-0.53 -0.53 -0.53 -0.53
22,6:06:43,45 45 45 45,,ZG,00/00/00,296,551,NaN,NaN,0,...,109.4078,18.3072,0 0 0 0,30 30 31 31,3.951,29.25,,262.27,0,-0.53 -0.53 -0.53 -0.53
23,6:06:44,45 45 45 45,,,00/00/00,0,544,NaN,NaN,0,...,109.4078,18.3072,0 0 0 0,31 30 31 30,3.951,29.25,,262.27,0,-0.53 -0.53 -0.53 -0.53
24,6:06:45,45 45 45 45,,,00/00/00,296,530,NaN,NaN,12288,...,109.4078,18.3072,0 0 0 0,31 31 30 30,3.951,29.25,0,262.27,0,-0.53 -0.53 -0.53 -0.53
25,6:06:46,45 45 45 45,,,00/00/00,147,521,NaN,NaN,0,...,109.4078,18.3072,0 0 0 0,30 29 29 29,3.951,29.25,,262.27,0,-0.53 -0.53 -0.53 -0.53
26,6:06:47,45 45 45 45,,ZG,00/00/00,148,514,NaN,NaN,0,...,109.4078,18.3072,0 0 0 0,29 28 29 28,3.951,29.25,,262.27,0,-0.53 -0.53 -0.53 -0.53
27,6:06:48,45 45 45 45,,,00/00/00,148,510,NaN,NaN,0,...,109.4078,18.3072,0 0 0 0,29 29 29 29,3.951,29.25,,262.27,0,-0.53 -0.53 -0.53 -0.53
28,6:06:49,45 45 45 45,,,00/00/00,148,507,NaN,NaN,0,...,109.4078,18.3072,0 0 0 0,29 29 29 30,3.951,29.50,0,262.27,0,-0.53 -0.53 -0.53 -0.53
29,6:06:50,45 45 45 45,,,00/00/00,148,504,NaN,NaN,0,...,109.4078,18.3072,0 0 0 0,30 29 30 29,3.951,29.25,,262.27,0,-0.53 -0.53 -0.53 -0.53
30,6:06:51,45 45 45 45,,ZG,00/00/00,149,502,NaN,NaN,0,...,109.4078,18.3072,0 0 0 0,29 29 29 30,3.951,29.25,,262.27,0,-0.53 -0.53 -0.53 -0.53
31,6:06:52,45 45 45 45,,,06/01/00,149,500,NaN,NaN,0,...,109.4078,18.3072,0 0 0 0,31 31 30 30,3.951,29.25,,262.27,0,-0.53 -0.53 -0.53 -0.53
32,6:06:53,45 45 45 45,,,06/01/00,149,498,NaN,NaN,0,...,109.4078,18.3072,0 0 0 0,30 30 30 31,3.951,29.25,0,262.27,0,-0.53 -0.53 -0.53 -0.53
33,6:06:54,45 45 45 45,,,06/01/00,149,495,NaN,NaN,0,...,109.4078,18.3072,0 0 0 0,30 30 30 30,3.951,29.00,,262.27,0,-0.53 -0.53 -0.53 -0.53
34,6:06:55,45 45 45 45,,ZG,06/01/00,148,492,NaN,NaN,0,...,109.4078,18.3072,0 0 0 0,30 30 31 31,3.951,29.00,,262.27,0,-0.53 -0.53 -0.53 -0.53
35,6:06:56,45 45 45 45,,,06/01/16,148,489,NaN,NaN,0,...,109.4078,18.3072,0 0 0 0,30 30 31 30,3.951,29.00,,262.27,0,-0.53 -0.53 -0.53 -0.53